__pycache__/
*.pyc
*.html
*.tgn
*.pickle
Old code/
Old results/
Final results paper/
Latest results/
*_old.py
Updated results/
Diagrams/
Results final paper/
Results paper/
Results paper reduced computation time/